 *:focus {
    outline: none;
}

body {
    margin: 0;
}

.pic-bg {
    background-image: url('../assets/dual.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

a:visited, a:link {
    text-decoration: none;
    color: inherit;
}

.emote {
    font-style: normal;
    font-size: 3em;
}

.shifumi {
    position: absolute;
    font-family: "Monoton";
    top: 25vh;
    left: 20vw;
    font-size: 10vw;
    padding: 10px 30px;
    text-align: center;
    background-color: #FFF;
    mix-blend-mode: screen;
}

.container-general {
    margin: 0 auto;
    width: 570px;
    padding-top: 65vh;
    padding-bottom: 100px;
}

.container-content {
    width: 500px;
    background: rgba(255,255,255,0.9);
    height: 50%;
    padding: 30px;
    border-radius: 5px;
}
.message {
    font: 1.5em 'VT323';
    padding: 20px;
    text-align: center;
    background: #DDD;
    border-radius: 5px;
}

.scores {
    width: 300px;
    margin: -100px auto;
    font-family: 'VT323';
    text-align: center;
    font-size: 5em;
    line-height: 1.5;
}

.who {
    font-size: 13px;
    width: auto;
    text-align: center;
    margin: 20px 0 10px;
}

.player {
   text-align: center;
   font-size: 1.2em;
   text-transform: uppercase;
   margin: 0 65px;
}

.player {
    font: 1.5em "Cabin Sketch", cursive;
}

.player.user {
    margin-left: 75px;
}

.player.bot {
    margin-left: 90px;
}

.score {
    display: inline-block;
    width: 80px;
    background: conic-gradient(from 90deg, #fff, #CCC);
    padding: 0 10px;
    border-radius: 2px;
    box-shadow: 0 1px 1px 1px #DDD;
}

.score::before {
    font-size: 13px;
}

.score.user-score {
    /* background-color: #DBBC73!important; */
}

.game-playing {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.hand-user, .hand-bot {
    height: 100px;
    width: 100px;
    font-size: 5em;
    text-align: center;
}

.weapons {
    margin: 25% 0 5% 10%;
}

.weapons>button {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    margin: 0 15px;
    font: 1em "Cabin Sketch", cursive;
}

.resetScore {
    padding: 10px 30px;
    margin-left: 40%;
    border: none;
    border-radius: 2px;
    color: #FFF;
    box-shadow: 0 1px 0 1px #4a7da2;
    background-color: #57ace7;
    font: 1em "Cabin Sketch", cursive;
    text-transform: uppercase;
}

.resetScore:hover {
    background-color: #4d9dd7;
}

.collapsible-container {
    background: #fff;
    margin-top: 5%;
    padding: 30px;
    box-shadow : 0 1px 5px 1px #EEE;
    border: solid 0.5px #EEE;
}

ul > li {
    list-style: none;
}

li .hand {
    display: inline-block;
}

.hand {
    background: #FFF;
    margin: 10px 20px 0 10px;
    padding: 15px 20px;
    border-radius: 50px;
    box-shadow: 0 1.3px 1px 1px #DDD;
    font-size: 2em;
}
label.title{
    font-family: 'Krub';
    font-weight: bolder;
    text-align: center;
    color: black;
    font-weight: bold;
}

.collapsible-container label {
    scroll-behavior: smooth;
    padding: 5px 50px;
    z-index: 1;
    display: block;
    height: 30px;
    line-height: 1.6;
    cursor: pointer;
    color: #777;
    font-size: 17px;
    background: linear-gradient(top, #ffffff 1%,#eaeaea 100%);
    box-shadow: 
		0px 0px 0px 1px rgba(155,155,155,0.3), 
		1px 0px 0px 0px rgba(255,255,255,0.9), 
        0px 2px 2px rgba(0,0,0,0.1);
    border-radius: 3px;
    text-transform: uppercase;
}
.collapsible-container label:hover {
    background: #EEE;
}

.collapsible-container input:checked + label {
    background:#57ace7;
    color: #EEE;
}

input#collapseRules, input#collapseOrigins, input#collapseResults {
    display: none;
}

article p span {
   font: 2em "Monoton";
}

.collapsible-container article {
    position: relative;
    background: rgba(0, 0, 0, 0.02);
    overflow: hidden;
    height: 0;
    font-family: "Krub";
    border-radius: 2px;
    font-style: italic;
    transition:
        height 0.3s ease-in-out,
        box-shadow 0.6s linear
}

.origins p, .tracks p {
    padding: 10px 30px;
}

.results-container {
    width: 400px;
    margin: 0 auto;
}

.results-container p {
    margin: 0;
    background: rgba(87, 172, 231,0.3);
    border-radius: 2px;
    margin-bottom: 2px;
}

.collapsible-container input:checked ~ article {
    transition:
        height 0.5s ease-in-out,
        box-shadow 0.1s linear;
    box-shadow: 0 0 0 1px #EEE;
}

.collapsible-container input:checked ~ .rules {
    height: 300px;
}

.collapsible-container input:checked ~ .origins {
    height: 720px;
}

.collapsible-container input:checked ~ .tracks {
    height: auto;
    /* max-height: auto; */
}

.link {
    margin-left: 30%;
}

.shifumi-example {
   position: relative;
   left: 20px;
   top: -15px;
   font-weight: bold;
   font-style: normal;
}

.modal-container {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.95);
    display: none;
}

.modal-container.show {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    overflow-y: hidden;
    padding-top: 60vh;
    padding-bottom: 100px;
}

.modal-content {
    margin: 10% 28%;
}

.modal-content p {
    color: #fff;
    text-align: center;
    font-size: 2em;
}